<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sobre</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css"> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-info">
    <div class="container">
	<b class="bg-info text-uppercase text-light">Saúde &amp; Vida</b></a>
        <ul class="navbar-nav bg-danger">
          <li class="nav-item text-nowrap bg-light text-capitalize d-flex">
            <a class="nav-link text-dark" href="{{url_for('Home')}}"><i class="fa d-inline fa-lg fa-bookmark-o"></i>Home</a>
          </li>
          <li class="nav-item bg-light text-capitalize">
            <a class="nav-link text-dark" href="{{url_for('Contato')}}"><i class="fa d-inline fa-lg fa-envelope-o"></i>Contato</a>
          </li>
          <li class="nav-item bg-light text-capitalize">
            <a class="nav-link text-dark" href="{{url_for('Sobre')}}"><i class="fa d-inline fa-lg fa-envelope-o"></i>Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Sobre o site</h1>
          <div class="row">
            <div class="col-md-12">
              <img  src="static/img/teacher-2841679_1920.jpg" height="500px" width="500px">
			        <img  src="static/img/baby-3041366_1920.jpg" height="400px" width="500px">
              <p>Saúde e vida é um site despretensioso que visa informar as pessoas da importância da alimentação, e da prática de atividade física para a saúde. </p>
              <p>Aqui você descobrirá que não existe dieta perfeita, pois cada ser é único e tem suas necessidades alimentares diferenciadas dados que nem todo organismo responde da mesma forma a substâncias alimentares.&nbsp;</p>
              <p>Quero apenas passar uma ideia generalizada, mas muito oportuna de como buscar o equilíbrio na forma de se alimentar para dessa formar conseguir viver de forma saudável evitando doenças causada pela má alimentação e pelo sedentarismo.</p>
              <p>Desejo que você seja capaz de buscar uma dieta equilibrada que vá suprir suas necessidades sem lhe causar danos a saúde, pois viver saudável é bom demais.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/jquery-3.2.1.slim.min.js"></script>
  <script src="static/js/popper.min.js"></script>

</body>

</html>
